footer.site-footer
  .row
    .small-6.columns
      p Made by&nbsp;
        a(href='//caseyy.org') Casey A. Ydenberg

    .small-6.columns
      p.text-right
        a.social-button(href='//github.com/CAYdenberg/wikode.git')
          span.icon-octocat
