{
  "plugins": [
    "react"
  ],
  "extends": ["eslint:recommended"],
  "ecmaFeatures": {
    "jsx": true
  },
  "sourceType": "module",
  "env": {
    "es6": true,
    "commonjs": true,
    "browser": true
  },
  "globals": {
    "globals": true,
    "console": true,
    "process": true
  },
  "rules": {
    "no-console": 0,
    "no-unused-vars": 0
  }
}
