{
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "es6": true,
    "commonjs": true,
    "node": true
  },
  "globals": {
    "globals": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-console": 0,
    "no-unused-vars": [2, { "varsIgnorePattern" : "React" }]
  }
}
