{
  "plugins": ["react"],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "15.1.0"
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "commonjs": true,
    "node": true,
    "browser": true
  },
  "globals": {
    "globals": true,
    "React": true
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "no-console": 1,
    "no-unused-vars": [2, { "varsIgnorePattern" : "React" }],
    "react/jsx-uses-vars": 1,
    'no-global-assign': 0,
    'no-unsafe-negation': 0
  }
}
