@import "settings";

@import "../node_modules/foundation-sites/scss/foundation.scss";

@include foundation-everything;


// include icons
@import "icons/styles.scss";

/** ****************************
* NAV
****************************  */

.menu > li > a,
.top-bar-title > a {
  color: white;
  text-decoration: none;
  &:hover {
    color: darken(white, 50%);
  }
}


/** ****************************
* NOTIFICATIONS
****************************  */

.notification-wrapper {
  position: fixed;
  top: 54px;
  left: 0;
  right: 0;
  text-align: center;
}

.notification {
  margin: 0 auto;
  padding: 0.25em 1em;
  display: inline-block;
  font-size: 1.5rem;
  background: $warning-color;
  color: black;
  font-weight: 700;
}


/** ****************************
* MODALS
****************************  */

.reveal-overlay,
.reveal {
  display: none;
  &[aria-hidden=false] {
    display: block;
  }
}


/** ****************************
* EDITOR
****************************  */

.editor-controls {
  position: static;
  padding: 5px 0 0;
  background: white;
  border-top: 1px solid (map-get($foundation-palette, 'primary'));
  border-bottom: 1px solid (map-get($foundation-palette, 'primary'));
}

.RichEditor-controls {
  display: inline;
}

.editor-controls__button {
  font-size: 1.5rem;
  padding: 5px;
  line-height: 1;
  background: $light-gray;
  border-radius: 5px;
  margin: 0 5px 5px;
  color: map-get($foundation-palette, 'primary');
  &[aria-pressed="true"] {
    background: map-get($foundation-palette, 'primary');
    color: white;
  }
}

.editor-controls__save {
  @extend .editor-controls__button;

  background: $success-color;
  color: white;
}


/** ****************************
* MISC
****************************  */

.login-form {
  text-align: center;
}

a.button {
  text-decoration: initial;
}

.site-footer {
  margin-top: 5rem;
  border-top: 1px solid $primary-color;
  padding-top: 2rem;
}

.social-button {
  font-size: 2rem;
  line-height: 1;
  background: $light-gray;
  color: $primary-color;
  text-decoration: initial;
  padding: 0 5px;
  border-radius: 5px;
}
