@import "settings";

@import "../node_modules/foundation-sites/scss/foundation.scss";

@include foundation-everything;


// include icons
@import "icons/styles.scss";


.reveal-overlay,
.reveal {
  display: none;
  &[aria-hidden=false] {
    display: block;
  }
}

.menu>li>a,
.top-bar-title>a {
  color: white;
  text-decoration: none;
  &:hover {
    color: darken(white, 50%);
  }
}


.editor-controls {
  position: static;
  background: $medium-gray;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid (map-get($foundation-palette, 'primary'));
}

.RichEditor-controls {
  display: inline-block;
}

.editor-controls__button {
  font-size: 1.5rem;
  padding: 5px;
  line-height: 1;
  background: $light-gray;
  border-radius: 5px;
  margin: 0 5px;
  color: map-get($foundation-palette, 'primary');
  &[aria-pressed="true"] {
    background: map-get($foundation-palette, 'primary');
    color: white;
  }
}

.editor-controls__save {
  @extend .editor-controls__button;
  background: map-get($foundation-palette, 'success');
  color: white;
}

.RichEditor-editor {
  
}
